<%
  posts = ["追加したい文字　indexページ",
           "追加したい文章１",
           "追加したい文章2",
           "追加したい文章3",
           "追加したい文章4"
  ]

%>

<%# post1 ="追加したい文章１" %>
<%# post2 ="追加したい文章2" %>
<%# post3 ="追加したい文章3" %>
<%# post4 ="追加したい文章4" %>
<%# post5 ="追加したい文章5" %>

<h1>ポスト練習　index</h1>
<p>Find me in app/views/posts/index.html.erb</p>


<!--<%#= post1 %><br>-->
<!--<%#= post2 %><br>-->
<!--<%#= post3 %><br>-->
<!--<%#= post4 %><br>-->
<!--<%#= post5 %><br>-->
<!--<h4><%#= post5 %><br></h4>-->

<% posts.each do |post| %>
  <%= post %><br>
<% end %>

<h2><%= @posts %></h2>



